@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
}

.title, .subtitle {
    color: hsl(210, 10%, 33%);
}

.description, p {
    color: hsl(201, 11%, 66%);
}

.container {
    width: 100%;
    height: 100%;
    padding: 2em;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
}

/* .hero {
    text-align: center;
    padding: 20px 0;
} */

.btn {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.btn a {
    width: 250px;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    margin: 10px auto;
}

.ios {
    background-color: hsl(171, 66%, 44%);
}

.mac {
    background-color: hsl(233, 100%, 69%);
}


/*Page 1*/

.page1 h2 {
    margin-top: 5em;
}

.description {
    line-height: 1.5;
    margin: 1em 0;
}

.components {
    padding: 3em 0 5em;
}

.component-text {
    margin: 3em 0;
   
}
.side-text-title {
    margin-bottom: .5em;
}


.img-components {
    width: 100%;
    height: 100%;
}

.img-component >img {
    width: 100%;
}

/*Page 2*/
.page2 {
    margin: 5em 0;
}


/*Page 3*/

.information {
    margin: 5em 0;
}

.page3 > img {
    width: 25px;
    height: 25px;
    margin: 2em 0;
}

.partners {
    display: flex;
    flex-direction: column;
}


/*Page 4*/
.page4 > h2 {
    margin: 1em 1em;
    position: relative;
}


.details {
    display: flex;
    flex-direction: column;
}

.details > a {
    margin: .5em;
    text-decoration: none;
    color: hsl(210, 10%, 33%);
}

.details > a:hover {
    font-weight: bold;
    cursor: pointer;
}

.socials {
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
}

.socials img {
    width: 20px;
    height: 20px;
}